#caja{
    background-color: blue;
    display:flex;
    
    gap: 30px;
    
}

#carrito{
    background-color: blue;
    display:flex;
    
    gap: 30px;
    
}

#apiRick{
    background-color: rgb(140, 138, 135);
    display:flex;
    
    gap: 30px;
    
}


